<!DOCTYPE html>
   <html>
     <head>
       <meta charset="UTF-8">
       <title>{{ title }}</title>
           <link rel='stylesheet', href='/stylesheets/style.css'>
           <link rel='icon', href='/favicon.ico'>
     </head>
     <body class="tinted-image">
        {{{ body }}}
     </body>
   </html>
