<div class="bgImageContainer one">
</div>
<div class="bodyContainer">
    <image class="logo" src="/../../images/logo.png" />
    <h4 class="mainText">
        League of Legends stat comparion website
    </h4>
    <div class="pageContent">
        <br>
        <br>
        <h3 class="mainText">
            Search for a summoner:
        </h3>
        <form action="/lookup/submit" method="post">
            <table class="displayTable">
                <tr>
                    <th class="region" colspan="1">
                        <select class="dropdown" name="summRegion" required>
                            <option value="BR">BR</option>
                            <option value="EUNE">EUNE</option>
                            <option value="EUW">EUW</option>
                            <option value="JP">JP</option>
                            <option value="KR">KR</option>
                            <option value="LAN">LAN</option>
                            <option value="LAS">LAS</option>
                            <option value="NA">NA</option>
                            <option value="OCE">OCE</option>
                            <option value="TR">TR</option>
                            <option value="RU">RU</option>
                        </select>
                    </th>
                    <th class="searchbox" colspan="3">
                        <input type="text" placeholder="Enter summoner name here." class="input" name="summName" required>
                    </th>
                    <th class="button" colspan="1">
                        <button class="buttonGo" type="submit">SEARCH</button>
                    </th>
                </tr>
            </table>
        </form>
        </br>
        <h3 class="mainText">
            Compare two summoners:
        </h3>
        <form action="/compare/submit" method="post">
            <table class="displayTable">
                <tr>
                    <th class="region" colspan="1">
                        <select class="dropdown" name="summOneRegion" required>
                            <option value="BR">BR</option>
                            <option value="EUNE">EUNE</option>
                            <option value="EUW">EUW</option>
                            <option value="JP">JP</option>
                            <option value="KR">KR</option>
                            <option value="LAN">LAN</option>
                            <option value="LAS">LAS</option>
                            <option value="NA">NA</option>
                            <option value="OCE">OCE</option>
                            <option value="TR">TR</option>
                            <option value="RU">RU</option>
                        </select>
                    </th>
                    <th class="searchbox" colspan="3">
                        <input type="text" placeholder="Enter 1st Summoner name here." class="input" name="summOneName" required>
                    </th>
                    <th class="button" colspan="1" rowspan="2">
                        <button class="buttonGo big" type="submit">SEARCH</button>
                    </th>
                </tr>
                <tr>
                    <th class="region" colspan="1">
                        <select class="dropdown" name="summTwoRegion" required>
                            <option value="BR">BR</option>
                            <option value="EUNE">EUNE</option>
                            <option value="EUW">EUW</option>
                            <option value="JP">JP</option>
                            <option value="KR">KR</option>
                            <option value="LAN">LAN</option>
                            <option value="LAS">LAS</option>
                            <option value="NA">NA</option>
                            <option value="OCE">OCE</option>
                            <option value="TR">TR</option>
                            <option value="RU">RU</option>
                        </select>
                    </th>
                    <th class="searchbox" colspan="3">
                        <input type="text" placeholder="Enter 2nd summoner name here." class="input" name="summTwoName" required>
                    </th>
                </tr>
            </table>
        </form>
        <br />
        <h3 class="mainText">
            Live Game Lookup:
        </h3>
        <form action="/live/submit" method="post">
            <table class="displayTable">
                <tr>
                    <th class="region" colspan="1">
                        <select class="dropdown" name="summRegionLive" required>
                            <option value="BR">BR</option>
                            <option value="EUNE">EUNE</option>
                            <option value="EUW">EUW</option>
                            <option value="JP">JP</option>
                            <option value="KR">KR</option>
                            <option value="LAN">LAN</option>
                            <option value="LAS">LAS</option>
                            <option value="NA">NA</option>
                            <option value="OCE">OCE</option>
                            <option value="TR">TR</option>
                            <option value="RU">RU</option>
                        </select>
                    </th>
                    <th class="searchbox" colspan="3">
                        <input type="text" placeholder="Enter summoner name here." class="input" name="summNameLive" required>
                    </th>
                    <th class="button" colspan="1">
                        <button class="buttonGo" type="submit">SEARCH</button>
                    </th>
                </tr>
            </table>
        </form>
        </br>
        </br>
        </br>
        <div class="mainText">
            <a class="urlStyle" href="/legal">LOLSTATS.GG - Legal Information</a>
        </div>
    </div>
</div>
