<p class="title">LOLSTATS.GG</p>
    <br>
    <br>
    <br>
    <br>
    <p class="testWhite">
        Search for a summoner:
    </p>
    <form action="/summoner/submit" method="post">
    <table class="tableTest">
    <tr>
    <th class="region" colspan="1">
        <select class="dropdown" name="summRegion">
            <option value="BR1">BR</option>
            <option value="EUN1">EUNE</option>
            <option value="EUW1">EUW</option>
            <option value="JP1">JP</option>
            <option value="KR">KR</option>
            <option value="LA1">LAN</option>
            <option value="LA2">LAS</option>
            <option value="NA1">NA</option>
            <option value="OC1">OCE</option>
            <option value="TR1">TR</option>
            <option value="RU">RU</option>
        </select>
    </th>
    <th class="searchbox" colspan="3">
            <input type="text" placeholder="Enter summoner name here." class="input" name="summName">
    </th>
    <th class="button" colspan="1">
            <button class = "buttonstyle" type="submit">Go!</button>
    </th>
    </tr>
    </table>
<!-- <form action="/summoner/submit" method="post">
    <input type="text" name="summName" placeholder="enter name"></br>
    <input type="text" name="summRegion" placeholder="enter region"></br>
    <button type="submit">SUBMIT to actual test for search</button> -->
</form>
