<div class="bodyContainer">
    <h1 class="mainText">LOLSTATS.GG</h1>
    <div class="pageContent">
        <br>
        <br>
        <p class="mainText">
            Search for a summoner:
        </p>
        <form action="/lookup/submit" method="post">
            <table class="displayTable">
                <tr>
                    <th class="region" colspan="1">
                        <select class="dropdown" name="summRegion" required>
                            <option value="BR">BR</option>
                            <option value="EUNE">EUNE</option>
                            <option value="EUW">EUW</option>
                            <option value="JP">JP</option>
                            <option value="KR">KR</option>
                            <option value="LAN">LAN</option>
                            <option value="LAS">LAS</option>
                            <option value="NA">NA</option>
                            <option value="OCE">OCE</option>
                            <option value="TR">TR</option>
                            <option value="RU">RU</option>
                        </select>
                    </th>
                    <th class="searchbox" colspan="3">
                        <input type="text" placeholder="Enter summoner name here." class="input" name="summName" required>
                    </th>
                    <th class="button" colspan="1">
                        <button class="buttonGo" type="submit">SEARCH</button>
                    </th>
                </tr>
            </table>
        </form>
        </br>
        <p class="mainText">
            Compare two summoners:
        </p>
        </br>
        <form action="/compare/submit" method="post">
            <table class="displayTable">
                <tr>
                    <th class="region" colspan="1">
                        <select class="dropdown" name="summOneRegion" required>
                            <option value="BR">BR</option>
                            <option value="EUNE">EUNE</option>
                            <option value="EUW">EUW</option>
                            <option value="JP">JP</option>
                            <option value="KR">KR</option>
                            <option value="LAN">LAN</option>
                            <option value="LAS">LAS</option>
                            <option value="NA">NA</option>
                            <option value="OCE">OCE</option>
                            <option value="TR">TR</option>
                            <option value="RU">RU</option>
                        </select>
                    </th>
                    <th class="searchbox" colspan="3">
                        <input type="text" placeholder="Enter 1st Summoner name here." class="input" name="summOneName" required>
                    </th>
                    <th class="button" colspan="1" rowspan="2">
                        <button class="buttonGo big" type="submit">SEARCH</button>
                    </th>
                </tr>
                <tr>
                    <th class="region" colspan="1">
                        <select class="dropdown" name="summTwoRegion" required>
                            <option value="BR">BR</option>
                            <option value="EUNE">EUNE</option>
                            <option value="EUW">EUW</option>
                            <option value="JP">JP</option>
                            <option value="KR">KR</option>
                            <option value="LAN">LAN</option>
                            <option value="LAS">LAS</option>
                            <option value="NA">NA</option>
                            <option value="OCE">OCE</option>
                            <option value="TR">TR</option>
                            <option value="RU">RU</option>
                        </select>
                    </th>
                    <th class="searchbox" colspan="3">
                        <input type="text" placeholder="Enter 2nd summoner name here." class="input" name="summTwoName" required>
                    </th>
                </tr>
            </table>
        </form>
        <br />
        <p class="mainText">
            Live Game Lookup:
        </p>
        <br />
        <table class="displayTable">
            <tr>
                <th class="region" colspan="1">
                    <select class="dropdown" name="summRegionLive" required>
                        <option value="BR">BR</option>
                        <option value="EUNE">EUNE</option>
                        <option value="EUW">EUW</option>
                        <option value="JP">JP</option>
                        <option value="KR">KR</option>
                        <option value="LAN">LAN</option>
                        <option value="LAS">LAS</option>
                        <option value="NA">NA</option>
                        <option value="OCE">OCE</option>
                        <option value="TR">TR</option>
                        <option value="RU">RU</option>
                    </select>
                </th>
                <th class="searchbox" colspan="3">
                    <input type="text" placeholder="Enter summoner name here." class="input" name="summNameLive" required>
                </th>
                <th class="button" colspan="1">
                    <button class="buttonGo" type="submit">Go!</button>
                </th>
            </tr>
        </table>
        <div class="mainText">
            <a class="urlStyle" href="/legal">Legal information</a>
        </div>
    </div>
</div>
