<div class="bodyContainer">
    <h1 class="testWhite">LOLSTATS.GG - Legal information</h1>
    <div class="pageContent">
        <h3 class="testWhite"> <a class="urlStyle" href="/"><< Back to home</a></h3>
        <div class="testWhite">
            LOLSTATS.GG isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.
            League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
            All data is taken from Summoner's Rift 5v5 Games, both normal and ranked.
            Your average stats are calculated from these games.
        </div>
    </div>
</div>
