<div class="bgImageContainer one">
</div>
<div class="bodyContainer">
    <a href="/"><image class="logo" src="/../../images/logo.png" alt="LOLSTATS.GG HOME" title="LOLSTATS.GG HOME"/></a>
    <h1 class="mainText">Legal information</h1>
    <div class="pageContent">
        <div class="mainText">
            LOLSTATS.GG isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot
            Games, Inc. League of Legends © Riot Games, Inc. All data is taken from Summoner's Rift 5v5 Games, both normal and ranked. Your average stats are calculated from these games.
        </div>
    </div>
</div>
