@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: relative;
}

.tinted-image {
    //url("../images/teambuilder-wallpaper.jpg");
    /* bottom, image */
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),;
}

.bodyContainer {
    width: 100%;
    min-width: 900px;
    margin: 0;
    padding: 0;
    z-index: 10;
}

img.logo {
    margin: 0 auto;
    display: block;
}

.bgImageContainer {
    box-shadow: 0 0 250px rgba(0, 0, 0, 1) inset;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    z-index: -1;
    position: fixed;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transform: scale(1.1);
}

.bgImageContainer.one {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/teambuilder-wallpaper.jpg");
}

.bgImageContainer.false {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/teambuilder-wallpaper.jpg");
}

.mainText {
    color: white;
    vertical-align: middle;
    text-align: center;
}

.mainText.underline {
    text-decoration: underline;
}

.matchInfo {
    font-size: 12px;
    font-weight: semi-bold;
}

.physDmg {
    color: #fc7c1a;
}

.magicDmg {
    color: #85fc97;
}

.trueDmg {
    color: white;
}

p {
    font-style: inherit;
    text-align: center;
}

.urlStyle {
    text-decoration: none;
}

.urlStyle:link {
    color: white;
}

.urlStyle:hover {
    color: white;
    text-decoration: underline;
}

.urlStyle:visited {
    color: white;
}

.urlStyle:active {
    color: white;
}

button {
    vertical-align: top;
}

.displayTable {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    min-width: 800px;
}

.navBar {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

tr {
    padding: 5px;
}

th {
    padding: 0;
}

th.region {
    height: 100%;
}

.dropdown {
    width: 100%;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    color: black;
    background-color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

th.searchbox {
    height: 100%;
}

.input {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    width: 98%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

th.button {
    height: 100%;
}

.buttonGo {
    display: inline-block;
    height: 40px;
    width: 100%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    background-color: #4CB284;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    padding: 0;
    margin: 0;
    transition: background-color 0.25s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.buttonGo.big {
    height: 75px;
}

.buttonGo:hover {
    background-color: rgb(148, 206, 182);
}

p.title {
    font: bolder;
    font-size: 48px;
    color: rgb(255, 0, 255);
}

.subTitle {
    font: semi-bold;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.subsubTitle {
    font: semi-bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.pageContent {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    min-width: 900px;
    z-index: 10;
}

.rowContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    background-color: rgba(150, 150, 150, 0.6);
    border-radius: 5px;
}

.rowContainerNF {
    width: 100%;
    background-color: rgba(150, 150, 150, 0.6);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

.rowContainer.top {
    border-radius: 5px 5px 0 0;
}

.rowContainer.bottom {
    border-radius: 0 0 5px 5px;
}

.summaryRow {
    width: 32%;
    min-width: 280px;
    height: 110px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    border: 3px solid gray;
    flex-grow: 1;
    border-radius: 5px;
}

.summaryRow.center {
    align-items: center;
}

.summaryTitle {
    background-color: rgba(150, 150, 150, 0.6);
    width: 100%;
    color: white;
    font-family: inherit;
    text-align: center;
}

.summaryRow.stats {
    height: 150px;
}

img.wrapperImage {
    vertical-align: middle;
    max-height: 100%;
    width: auto;
    float: left;
}

img.wrapperImage.rounded {
    border-radius: 8px;
}

img.masteryImg {
    max-height: 50px;
    width: auto;
}

.summaryInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.clickable {
    cursor: pointer;
    width: 100%;
}

.toBeShown {
    display: none;
}

.statsBox.title {
    vertical-align: top;
    font-style: inherit;
    color: white;
    text-decoration: underline;
}

.statsBox.label {
    text-align: left;
    color: black;
    font-weight: semi-bold;
}

.statsBox.value {
    text-align: right;
    color: #E3DC0B;
}

button.distBtn {
    width: 50%;
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
    font-family: inherit;
    font-size: 12px;
    color: black;
    background-color: rgb(175, 175, 175);
    cursor: pointer;
    padding: 0;
    border: none;
    border-radius: 3px;
    transition: background-color 0.5s ease;
    z-index: 11;
}

button.distBtn.active {
    background-color: rgb(76, 178, 132);
    color: white;
}

button.distBtn:hover {
    background-color: rgb(148, 206, 182);
}

button.distBtn1 {
    width: 50%;
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
    font-family: inherit;
    font-size: 12px;
    color: black;
    background-color: rgb(175, 175, 175);
    cursor: pointer;
    padding: 0;
    border: none;
    border-radius: 3px;
    transition: background-color 0.5s ease;
    z-index: 11;
}

button.distBtn1.active {
    background-color: rgb(76, 178, 132);
    color: white;
}

button.distBtn1:hover {
    background-color: rgb(148, 206, 182);
}

button.graphBtn {
    width: 24%;
    height: 35px;
    font-family: inherit;
    font-size: 16px;
    color: black;
    background-color: rgb(175, 175, 175);
    cursor: pointer;
    padding: 0;
    border: none;
    border-radius: 3px;
    transition: background-color 0.5s ease;
    z-index: 11;
    box-sizing: border-box;
    margin-right: 5px;
}

button.graphBtn.active {
    background-color: rgb(76, 178, 132);
    color: white;
}

button.graphBtn:hover {
    background-color: rgb(148, 206, 182);
}

.displayContent {
    margin: 8px auto 0;
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
}

.displayGraph {
    visibility: hidden;
    position: absolute;
    margin-top: 35px;
    margin-left: 0;
    width: 100%;
    display: block;
    border-radius: 3px;
}

svg > g > g:last-child {
    pointer-events: none;
}

.pieChart {
    height: 100px;
    width: 50%;
    z-index: 10;
}

.match-container {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    width: 825px;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

.match-container.WIN {
    background-color: rgba(11, 187, 212, 0.5);
}

.match-container.LOSS {
    background-color: rgba(255, 35, 65, 0.5);
}

.champion-portrait {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 8px;
}

.match-data {
    height: 120px;
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    width: 400px;
    display: flex;
    border-radius: 5px;
}

.matchDataSplit {
    height: 100%;
    width: 50%;
    margin-left: 1px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    width: 130px;
    margin-right: 10px;
    border-radius: 25px;
}

.runes-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: 120px;
    width: 60xp;
    margin-left: 10px;
}
.runes-container.margin{
  margin-right: 35px;
}

.ss-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 105px;
    width: 50xp;
    justify-content: center;
}

.item {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 1px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgba(178, 178, 178, 0.5);
}

.rune {
    width: 30px;
    height: 30px;
}

.spell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 1px;
    box-sizing: border-box;
    border-radius: 8px;
}
.spell.live {
    width: 40px;
    height: 40px;
}
.liveGameContainer {
    width: 100%;
    display: flex;
}

.teamContainer {
    width: 49%;
    margin: 5px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.playerContainer {
    width: 100%;
    height: 130px;
    margin: 5px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.champion-portrait.margin {
    width: 90px;
    height: 90px;
    margin-right: 5px;
    border-radius: 8px;
    margin-left: 5px;
}


.playerContainer.teamOne {
    flex-direction: row;
    background-color: rgba(11, 187, 212, 0.5);
}

.playerContainer.teamTwo {
    flex-direction: row-reverse;
    background-color: rgba(255, 35, 65, 0.5);
}
.game-data {
    height: 120px;
    border: 1px solid black;
    width: 40%;
    display: flex;
    margin: 5px;
    flex-direction: column;
    border-radius: 5px;
}
label.checkbox{
  color: red;
}

.showMoreText {
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.text1 {
    font-style: inherit;
    font-size: 16px;
    color: black;
    text-align: center;
    font: semi-bold;
}

.text2 {
    font-style: inherit;
    font-size: 14px;
    color: black;
    text-align: center;
}
