@import url('https://fonts.googleapis.com/css?family=Nunito');
html {
    font-family: 'Nunito', sans-serif;
}
body {
    background-image: url("../images/teambuilder-wallpaper.jpg");
    background-repeat: no-repeat;
    display: block;
    overflow-x: hidden;
}
.tinted-image {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      /* bottom, image */
      url("../images/teambuilder-wallpaper.jpg");
  }

.bodyContainer{
    width: 100%;
    min-width: 700px;
    border-color: red;
    border-width: thin;
    border-style: dotted;
}
.testWhite{
    color: white;
    vertical-align: middle;
    text-align: center;
}
p {
    font-style: inherit;
    text-align: center;
}
button {
    vertical-align: top;
}

.tableTest {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;

}
.navBar {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}



tr{
    padding: 10px;
}
th{
    padding: 0px;

}


th.region {
    height: 100%;

}
.dropdown {
    width: 100%;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    color: black;
    background-color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}
th.searchbox {
    height: 100%;
}
.input {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    width: 98%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

th.button {
    height: 100%;
}
.buttonstyle {
    display: inline-block;
    height: 40px;
    width: 100%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-family: 'Nunito', sans-serif;
}

p.title{
    font: bolder;
    font-size: 48px;
    color: rgb(255, 0, 255);
}
.subTitle{
    font: semi-bold;
    font-size: 32px;
    color: rgb(255, 255, 255);
}
.subsubTitle{
    font: semi-bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.pageContent{
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    min-width: 800px;
    text-align: center;
}
.summaryRowContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row;
}
.summaryRow{
    width: 32%;
    min-width: 200px;
    height: 100px;
    margin: 3px;
    display: flex;
    flex-direction: row;

}
img.wrapperImage {
  vertical-align: middle;
  max-height:100%;
  width: auto;
  float: left;

}
img.masteryImg {
    max-height: 50px;
    width: auto;
}
.summaryInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.text1{
    font-style: inherit;
    font-size: 16px;
    color: black;
    text-align: center;
    font: semi-bold;

}
.text2{
    font-style: inherit;
    font-size: 14px;
    color: black;
    text-align: center;

}
